:root[data-density='compact'] .p-8 {
  padding: 1.25rem;
}

:root[data-density='compact'] .p-6 {
  padding: 1rem;
}

:root[data-density='compact'] .py-4 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

:root[data-density='compact'] .space-y-8 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.25rem;
}

:root[data-density='compact'] .space-y-6 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}
